/* Default ---- < 400px */
* {
    margin: 0;
    padding: 0;
}

:root{
    background-color: white;
}

.bannerInicio {
    background-color: #e4dbbe;
    width: 100%;
    height: auto;
    min-height: 100px;  /* Ajustamos la altura mínima */
    display: flex;
}

.doodleInicio {
    background-image: url(img/doodleInicio.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
}


/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    .bannerInicio {
        min-height: 130px;  /* Ajustamos la altura mínima */
    }
}

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    .bannerInicio {
        min-height: 190px;  /* Ajustamos la altura mínima */
    }
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    .bannerInicio {
        min-height: 250px;
    }
}

/* ===================== MEDIA QUERY  801px - 1200px  ================================= */
@media (min-width: 1001px) {
    .bannerInicio {
        min-height: 350px;
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
    .bannerInicio {
        min-height: 405px;
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    .bannerInicio {
        min-height: 510px;
    }
}
