/* Default ----   < 400px */

* {
    margin: 0;
    padding: 0;
}

:root{
    background-color: white;
}

.bannerInicio{
    background-color: #e4dbbe;
    width: 100%;
    height: auto;
    min-height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doodleInicio{
    background-image: url(img/doodleInicio.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* ===================== MEDIA QUERY  400px - 800px  ================================= */
@media (min-width: 400px) {

}

/* ===================== MEDIA QUERY  801px - 1200px  ================================= */
@media (min-width: 801px) {

}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {

}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {

}